h1{
    
    height: 80px;
    margin: 0px auto 10px auto;
    font-family: 'Bad Script', cursive;
    font-size: xxx-large;
    width: 300px;
    color: #43766C;
    
}

h2{
    font-family: 'Bad Script', cursive;
    font-size: xx-large;
    
    color: #43766C;
}

body{
    margin: 0px;
    text-align: center;
    
    
}
p{
    margin-top: 0px;
    margin-bottom: 30px;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: x-large;
    
    color: #43766C;}

.middle{
  
  margin-top: 30px;
  color: #43766C;
  
}

h3{
  color: #43766C;
  
}

.sen{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 70px;
   
  }
.bottom{
    position: absolute;
    left: 23.75rem;
    bottom: 6.25rem;
  }

.bottom-2{
  position:absolute;
  right: 25rem;
  top: 25rem;
}  
.top{
    position: absolute;
    right: 19.375rem;
    top: 12.5rem;
    
  }
.top-2{
  position: absolute;
  left: 18.75rem;
  top: 17.5rem;
}  
.skills{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 1;
}
.footer{
  background-color: #ea5455;
  padding-top: 20px;
}
.ski-img{
  float: left;
  margin-right: 50px;
  margin-bottom: 10px;
  margin-top: 10px ;
  
  padding-right: 10px;
}
.ken-img{
  float: right;
  margin-left: 30px;
  margin-bottom: 20px;
  
  padding-top: 60px;
}
hr{
  color: #B2A59B
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family:'Bad Script', cursive;
  color: #ffffff;
  font-size: 20px;
  background: #ea5455;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
}

.btn:hover {
  background: #f46060;
  text-decoration: none;
}

.footer-link{
  color: white;
  padding: 20px 5px 0px;
  font-family: 'Edu TAS Beginner', cursive;
  text-decoration: none;
  font-size: 23px;
}
.footer-link:hover{
  color: rgb(255, 232, 232);
}

